.results-title {
  font-family: 'Rowdies', cursive;
  background: #033a53;
  color: #FBE9E7;
  max-width: 50em;
  margin: 0 auto;
}

.answer{
  font-size: 18px;
  color: #c71414;
  margin: 3em 1em;
}

.correct{
  color: #19a019;
}


.btn {
  background: #033a53;
  text-decoration: none;
  margin-top: 3em;
}
