h1 {
  margin-bottom: 2em;
  color: #033a53;
  text-decoration: underline;
}

.answer{
  font-size: 18px;
  color: #c71414;
  margin: 1em;
}

.correct{
  color: #19a019;
}


.btn {
  background: #033a53;
  text-decoration: none;
  margin-top: 3em;
}
